<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.kakao.taxi"/>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MJU_Car"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MJU_Car">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" android:exported="true" android:launchMode="singleTask" android:theme="@style/Theme.Km240414"/>
        <activity android:name=".RegisterActivity"  android:theme="@style/Theme.MJU_Car"/>
        <activity android:name=".ChatActivity"  android:exported="false" />
        <activity
            android:name=".ui.shuttle.ShuttleimageViewerActivity"
            android:exported="false" />

        <!--FCM자동 초기화 방지-->
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <!-- 기본 알림 아이콘 및 색상을 설정 - 수신 알림 메시지에 별도 설정되지 않을 경우 사용됨. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/teal_700" />

        <!-- 기본 알림 채널 _ 객체 id 설정 - 수신 알림 메시지에 별도 설정되지 않을 경우 사용됨. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/channel_id" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".MyBackgroundService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>